@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";


.container{
    @include flexContainer;
    justify-content: center;
    margin: 50px 0px;
}

.login{
    width: 35%;
    padding: 30px 0px;
    background-color: rgb(214, 212, 212);
    h2{
        text-align: center;
    }
    .formContainer{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin-inline: auto;
        gap: 15px;
        label{
            font-size: 18px;
        }
    }
}

.input{
    height: 35px;
    width: 100%;
    border: 1px solid $primary_color;
}

.submit{
    background-color: $primary_color;
    font-size: 17px;
    color: $bg_smoke;
    cursor: pointer;
    transition: all 0.5s;
    &:hover{
        background-color: $primary_hover;
    }
}
.signup{
    color: $primary_color;
    cursor: pointer;
}

.guest{
    cursor: pointer;
    transition: all 0.5s;
    font-size: 16px;
    &:hover{
        background-color: $primary_color;
        color: white;
    }
}