@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";


.heading{
    @include flexContainer;
    gap: 10px;
    justify-content: space-between;
    height: 80px;
    p{
        text-decoration: underline;
        cursor: pointer;
    }
}

.filtersContainer{
    width: 90%;
    margin-inline: auto;
}

.inputContainer{
    @include flexContainer;
    gap: 10px;
    margin: 6px 0px;
    .input{
        height: 20px;
        width: 20px;
        &:checked{
            accent-color: $primary_color !important;
        }
    }
    p{
        font-weight: 500;
    }
}

.brands{
    h3{
        padding: 12px 0px;
    }
    margin-bottom: 15px;
}

.categoryContainer{
    h3{
        padding: 12px 0px;
    }
}

.sortby{
    h3{
        padding: 12px 0px;
    }
}

.ratings{
    h3{
        padding: 12px 0px;
    } 
}

.slider{
    width: 100%;
    cursor: pointer;
}

.slider::-moz-range-thumb{
    background: red;
}

.slider::-webkit-slider-thumb{
    background-color: green;
}